[rewrite_local]
# 中国移动开屏广告 client.app.coc.10086.cn, app.10086.cn, 
^https?:\/\/client\.app\.coc\.10086\.cn\/biz-orange\/DN\/explorePage\/getAdverList url reject
^https?:\/\/client\.app\.coc\.10086\.cn\/biz-orange\/DN\/init\/startInit url reject-200
^https?:\/\/(client\.app\.coc|app)\.10086\.cn\/biz-orange\/DN\/emotionMarket url reject

# 中国联通 m.client.10010.com, m1.ad.10010.com, res.mall.10010.cn, 
^https?:\/\/m\.client\.10010\.com\/mobileService\/(activity|customer)\/(accountListData|get_client_adv|get_startadv) url reject-img
^https?:\/\/m\.client\.10010\.com\/mobileService\/customer\/getclientconfig\.htm url reject-dict
^https?:\/\/m\.client\.10010\.com\/uniAdmsInterface\/(getHomePageAd|getWelcomeAd) url reject-img
^https?:\/\/[^(apple|10010)]+\.(com|cn)\/(a|A)d(s|v)?(\/|\.js) url reject-img
^https?:\/\/m1\.ad\.10010\.com\/noticeMag\/images\/imageUpload\/2\d{3} url reject-img
^https?:\/\/res\.mall\.10010\.cn\/mall\/common\/js\/fa\.js?referer= url reject-img

# 网上国网 osg-static.sgcc.com.cn, osg-service.sgcc.com.cn,
^https?:\/\/osg-static\.sgcc\.com\.cn\/omg-static\/.*.jpg url reject-200
^https?:\/\/osg-service\.sgcc\.com\.cn:18600\/emss-pfa-appset-front\/bootpageoutter\/ url reject-dict

# 去哪儿开屏 qde.qunar.com, client.qunar.com, homefront.qunar.com, 
^https?:\/\/qde\.qunar\.com\/preload url reject-200
https://homefront.qunar.com/front/splash/ad url reject
^https?:\/\/client\.qunar\.com\/pitcher-proxy\?qrt=p_splashAd url rejec

# 建设银行开屏广告 adv.ccb.com,
^https?:\/\/adv\.ccb\.com\/ebda\/ctm_adv url reject

[mitm] 
hostname=client.app.coc.10086.cn, app.10086.cn, m.client.10010.com, m1.ad.10010.com, res.mall.10010.cn, osg-static.sgcc.com.cn, osg-service.sgcc.com.cn, qde.qunar.com, client.qunar.com, homefront.qunar.com, adv.ccb.com,
